* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/*________________  myBtnContainer   __________________________________*/

#myBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
    width: 25%;
    background-color: #D6DAC8;
    height: 100%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/*________________  container-logo   __________________________________*/

.container-logo h1 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding: 35px;
    color: #265073;
    text-decoration: underline 2px solid orangered;
    text-underline-offset: 10px;
    text-align: center;
}

.navbar {
    background-color: #FFF7FC;
    height: 110px;
    margin: 0px;
    position: sticky;
    z-index: 1000;
    top: 0px;
}

.homepage {
    padding: 30px;
    float: right;
}

#home-icon {
    font-size: 25px;
    color: black;
}


.filterDiv {
    float: left;
    color: black;
    text-align: center;
    display: none;
    overflow: hidden;
}

.filterbox {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    justify-content: space-between;
    grid-gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    height: 360px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #EEEEEE;
}

.box img {
    height: 180px;
    width: 130px;
}

#book-spelling {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    padding: 10px;
    font-size: 18px;
    font-style: normal;
    color: black;
} 


#discount {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 5px;
    /* word-spacing: 10px; */
}



#add-to-cart {
    padding: 5px 10px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

#price {
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
}

#bar-icon {
    display: none;
}

.show {
    display: block;
}

.container {
    /* margin-top: 20px;  */
    background-color: #FFF7FC;
    margin-left: 25%;
    height: 1000px;
    position: relative;
    /* z-index: 1; */
    padding: 1px 16px;
}

.btn {
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    font-family: "Ubuntu", serif;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    width: 55%;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;

}

.blocks {
    display: none;
}



@media only screen and (max-width: 600px) {
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    #myBtnContainer {
        display: none;
    }

    /* .filterDiv {
        display: flex;
        align-items: center;
        

    }  */
    
    .filterbox {
        display: grid;
        justify-content: space-around;
        margin-top: 100px;
        grid-template-columns:auto auto;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border: 1px solid black;
        border-radius: 15px;
        height: 300px;
        margin: 10px;
        /* padding: 10px; */
        width: 150px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: #EEEEEE;
        
    }

    .box img {
        height: 130px;
        width: 80px;
    }

    #book-spelling {
        font-family: "Goldman", sans-serif;
        font-weight: 400;
        /* padding: 10px; */
        font-size: 12px;
        font-style: normal;
        color: black;
    }

    #discount {
        display: flex;
        flex-direction: row;
        color: black;
        /* padding: 5px; */
        font-size: 10px;
    }



    #add-to-cart {
        padding: 5px 5px;
        font-size: 15px;
        /* margin: 10px; */
        border-radius: 10px;
        background-color: orange;
        color: black;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }

    #price {
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }


    .show {
        display: inline-block;
    }

    .container {
        background-color: #FFF7FC;
        height: 1000px;
        margin: 0%;
        padding: 0%;
    }

    .btn {
        border: none;
        padding: 15px 15px;
        text-decoration: none;
        font-family: "Ubuntu", serif;
        font-weight: 600;
        font-size: 22px;
        font-style: normal;
        width: 80%;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #ddd;
    }

    .btn.active {
        background-color: #666;
        color: white;

    }


    #bar-icon {
        padding: 30px;
        float: left;
        font-size: 25px;
        display: inline;
        color: black;
    }

    .container-logo h1 {
        margin-top: 0px;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: normal;
        padding: 50px;
        color: #265073;
        text-decoration: underline 2px solid orangered;
        text-underline-offset: 10px;
        text-align: center;
    }

    .homepage {
        padding: 30px;
        float: right;
    }

    #home-icon {
        font-size: 25px;
        color: black;
    }

    .blocks {
        margin-top: 0px;
        padding-top: 50px;
        background-color: rgba(61, 60, 62, 0.849);
        border: 2px solid black;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: fixed;
        display: none;

    }

    .navbar {
        margin-top: 0px;
        width: 100%;
        z-index: 100;
        position: fixed;
        height: 100px;
        background-color: white;
    }
}