<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Hedvig+Letters+Sans&family=Lato:wght@900&family=Roboto:wght@400;700&family=Sora:wght@100..800&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Hedvig+Letters+Sans&family=Lato:wght@900&family=Roboto:wght@400;700&family=Sora:wght@100..800&family=Tourney:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&family=Varela+Round&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
    <title>Books Library</title>
</head>

<body>
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('business')"> Business</button>
        <button class="btn" onclick="filterSelection('growth')"> Growth</button>
        <button class="btn" onclick="filterSelection('relation')">Relation</button>
        <button class="btn" onclick="filterSelection('spiritual')">Spiritual</button>
        <button class="btn" onclick="filterSelection('edu')"> Education</button>
        <button class="btn" onclick="filterSelection('manga')"> Manga</button>
        <button class="btn" onclick="filterSelection('kid')"> Kids</button>
        <!-- <button class="btn" onclick="filterSelection('colors')"> Colors</button> -->
    </div>

    <div class="container">

        <div class="navbar">
            <div class="homepage">
                <a href="{{ url_for('about')}}" target="_blank"><i class="fa-solid fa-house" id="home-icon"></i></a>
            </div>
            <i class="fa-solid fa-bars" id="bar-icon"></i>
            
            <div class="container-logo">
                <h1>biblio</h1>
            </div>
        </div>


        <div class="blocks">
            <button class="btn active" onclick="filterSelection('all')"> Show all</button>
            <button class="btn" onclick="filterSelection('business')"> Business</button>
            <button class="btn" onclick="filterSelection('growth')"> Growth</button>
            <button class="btn" onclick="filterSelection('relation')">Relation</button>
            <button class="btn" onclick="filterSelection('spiritual')">Spiritual</button>
            <button class="btn" onclick="filterSelection('edu')"> Education</button>
            <button class="btn" onclick="filterSelection('manga')"> Manga</button>
            <button class="btn" onclick="filterSelection('kid')"> Kids</button>
        </div>
        
        <div class="filterbox">
            <div class="filterDiv business">
                <div class="box">
                    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRhuJTcrzQHYdkihniDIBA7ADWGCrXB9xoXrb8rQ1gQuBTeORG5O2dmt7mAQPRtQiUqzCd8R9m_alX9Tou_BwAPsTivT219FzEkMtxJQjSCizrFSTLAyjjwSw&usqp=CAE"
                        alt="">
                    <span id="book-spelling">Zero to one</span>
                    <span id="price">&#8377 <h2>383</h2></span>
                    <span id="discount">M.R.P: <del>599</del> &nbsp;&nbsp;( 36% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv business">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/61Gl4uP9yNL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Trust Based Leadership</span>
                    <span id="price">&#8377 <h2>2,800</h2></span>
                    <span id="discount">M.R.P: <del>399</del>&nbsp;&nbsp; ( 43% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>

            <div class="filterDiv business">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/61-hMfd7NGL._AC_UL480_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Psychology of Money</span>
                    <span id="price">&#8377 <h2>228</h2></span>
                    <span id="discount">M.R.P: <del>399</del>&nbsp;&nbsp; ( 43% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>

            <!-- <br> -->
            <div class="filterDiv colors business">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/91+t0Di07FL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">The Intelligent Investor</span>
                    <span id="price">&#8377 <h2>581</h2></span>
                    <span id="discount">M.R.P: <del>799</del>&nbsp;&nbsp; ( 27% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors business">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71MDz2FR1dL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Warren Buffett Ways</span>
                    <span id="price">&#8377 <h2>2,036</h2></span>
                    <span id="discount">M.R.P: <del>2,465</del>&nbsp;&nbsp; ( 17% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors business">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/61B84NiWabL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Think & Grow Rich</span>
                    <span id="price">&#8377 <h2>145</h2></span>
                    <span id="discount">M.R.P: <del>150</del>&nbsp;&nbsp; ( 3% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <!-- <br> -->
            <div class="filterDiv colors growth">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/61go3pwTLYL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Attitude is Everything</span>
                    <span id="price">&#8377 <h2>160</h2></span>
                    <span id="discount">M.R.P: <del>255</del>&nbsp;&nbsp; ( 29% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors growth">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81Ls+SBCLiL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Atomic Habit</span>
                    <span id="price">&#8377 <h2>508</h2></span>
                    <span id="discount">M.R.P: <del>799</del>&nbsp;&nbsp; ( 36% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors growth">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81BE7eeKzAL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Rich Dad & Poor Dad</span>
                    <span id="price">&#8377 <h2>310</h2></span>
                    <span id="discount">M.R.P: <del>599</del>&nbsp;&nbsp; ( 48% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors growth">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71fSNm-junL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">How to win & influence people</span>
                    <span id="price">&#8377 <h2>129</h2></span>
                    <span id="discount">M.R.P: <del>195</del>&nbsp;&nbsp; ( 34% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors growth">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71sBtM3Yi5L._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Power of subconscious mind</span>
                    <span id="price">&#8377 <h2>149</h2></span>
                    <span id="discount">M.R.P: <del>199</del>&nbsp;&nbsp; ( 25% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors growth">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71aQ9wVZY4L._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Can't hurt me</span>
                    <span id="price">&#8377 <h2>205</h2></span>
                    <span id="discount">M.R.P: <del> 599 </del>&nbsp;&nbsp;( 66% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors relation">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/91n5ZkRwzCL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Emotions & Relationship</span>
                    <span id="price">&#8377 <h2>198</h2></span>
                    <span id="discount">M.R.P: <del>395</del>&nbsp;&nbsp; ( 50% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors relation">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/61zyvGwtn6S._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">1000+ little habits</span>
                    <span id="price">&#8377 <h2>456</h2></span>
                    <span id="discount">M.R.P: <del>599</del>&nbsp;&nbsp; ( 24% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors relation">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/51noq-nBdpL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Nutan</span>
                    <span id="price">&#8377 <h2>145</h2></span>
                    <span id="discount">M.R.P: <del>150</del>&nbsp;&nbsp; ( 3% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors spiritual">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/61lYxM0hfoL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Mahabharata</span>
                    <span id="price">&#8377 <h2>2,303</h2></span>
                    <span id="discount">M.R.P: <del>3,449</del>&nbsp;&nbsp; ( 33% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors spiritual">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81bghPUfOwL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Ramayana</span>
                    <span id="price">&#8377 <h2>2,064</h2></span>
                    <span id="discount">M.R.P: <del>2,999</del>&nbsp;&nbsp; ( 31% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors spiritual">
                <div class="box">
                    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTOoWNIsdjzoiC1xWtIqqi-hvwzINpBV5nPhDBlerxfU5wkLvwbdB3v9u0l-s9GLJRftPcewHalJo82OzwMSFKzNe6rPjOHohwFchEhT_4JFNqY4udLY-DVZQ&usqp=CAE"
                        alt="">
                    <span id="book-spelling">Bhagvad gita</span>
                    <span id="price">&#8377 <h2>2,100</h2></span>
                    <span id="discount">M.R.P: <del>3,440</del>&nbsp;&nbsp; ( 37% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors edu">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/818DxHEbMRL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Aptitude</span>
                    <span id="price">&#8377 <h2>598</h2></span>
                    <span id="discount">M.R.P: <del>699</del> ( 14% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors edu">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81fI5VM7+-L._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">CAT Preparation</span>
                    <span id="price">&#8377 <h2>430</h2></span>
                    <span id="discount">M.R.P: <del>700</del> ( 39% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors edu">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71bTyo7qx7L._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Verbal & Non-Verbal</span>
                    <span id="price">&#8377 <h2>471</h2></span>
                    <span id="discount">M.R.P: <del>695</del> ( 40% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors manga">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81ZNkhqRvVL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Demons Layer</span>
                    <span id="price">&#8377 <h2>4,999</h2></span>
                    <span id="discount">M.R.P: <del>8,999</del> ( 40% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors manga">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71y+XnBXm4L._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">One Piece</span>
                    <span id="price">&#8377 <h2>430</h2></span>
                    <span id="discount">M.R.P: <del>499</del> ( 70% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors manga">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/716OdCIyrML._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Manga Naruto Vol1</span>
                    <span id="price">&#8377 <h2>199</h2></span>
                    <span id="discount">M.R.P: <del>699</del> ( 14% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors kid">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/71Tr-1B1j7L._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Story Book</span>
                    <span id="price">&#8377 <h2>441</h2></span>
                    <span id="discount">M.R.P: <del>695</del> ( 35% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors kid">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81y4kJnEzbL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Moral Story</span>
                    <span id="price">&#8377 <h2>133</h2></span>
                    <span id="discount">M.R.P: <del>175</del> ( 24% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>
            <div class="filterDiv colors kid">
                <div class="box">
                    <img src="https://m.media-amazon.com/images/I/81VJ+MAc7YL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                    <span id="book-spelling">Panchatantra story</span>
                    <span id="price">&#8377 <h2>138</h2></span>
                    <span id="discount">M.R.P: <del>175</del> ( 21% off ) </span>
                    <a href="{{url_for('cart')}}" id="add-to-cart" target="_blank">Add to cart</a>
                </div>
            </div>


        </div>
    </div>

    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/home.js') }}"></script>
</body>

</html>